body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
::selection {
    background-color: white;
    color: black;
}
h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 52px;
    text-transform: capitalize;
}
div {
    text-decoration: underline;
}
button {
    width: 600px;
    height: 100px;
    margin-top: 100px;
    margin-left: 300px;
    font-size: 36px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    z-index: 1;
    box-shadow: 10px .4px white;
}
button:hover {
    cursor: pointer;
    color: blue;
    border: 2px solid blue;
    transform: translateY(-10px);
    transition: .4s;
    box-shadow: 10px .4px blue;
}
button:active {
    box-shadow: 0 0 blue;
    height: 95px;
}
@keyframes filip-infini {
    0% { border-radius: 5px; }
    50% { border-radius: 20px; }
    0% { border-radius: 5px; }
}