body {
    background-color: black;
    color: #ffffff;
}
h1 {
    font-size: 40px;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1::selection {
    background-color: rgb(255, 255, 255);
    color: #000000;
}
button {
    width: 700px;
    height: 150px;
    margin-top: 50px;
    margin-left: 300px;
    font-size: 36px;
    padding-top: -50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    animation-name: filip-three;
    animation-duration: 1s;
    animation-iteration-count: 1;
    z-index: 1;
    box-shadow: 10px .4px white;
}
button:hover {
    cursor: pointer;
    color: blue;
    border: 2px solid blue;
    transform: translateY(10px);
    transition: .4s;
    box-shadow: 10px 0px blue;
}
button:active {
    box-shadow: 0 0 blue;
    height: 95px;
}
section {
    font-size: 50px;
}