body {
    background-color: black;
    color: #ffffff;
}
h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
}
h1::selection {
    background-color: #ffffff;
    color: #000;
}
button {
    width: 500px;
    height: 100px;
    font-size: 35px;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 400px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
}
button::selection {
    background-color: #ffffff;
    color: #000;
}
button:hover {
    cursor: pointer;
    padding-right: 25px;
    padding-left: 25px;
    width: 300px;
    margin-left: 500px;
    transform: translateY(10px);
    transition: 1s;
}
a {
    text-decoration: white;
    color: white;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
a:hover {
    color: hsl(0, 0%, 72%);
}